@import '../../style/_common.scss';
.relateboard-list {
  position: relative;
  .board-item {
    height: 200px;
  }
}

.board-content {
  figure.image {
    display: block;
    margin: auto;
  }
  img {
    max-width: 100%;
    margin: auto;
  }
}
